In [1]:
 def extract(dictionary,key):
    try:
        return dictionary[key]
    except:
        return np.nan

In [2]:
def trypull(list):
    try:
        return list[0]
    except:
        return np.nan

In [3]:
def bigactors(actors):
    actor_list = [i[0] for i in prolific]   
    count = 0
    for i in actors:
        if i in actor_list:
            count+=1
    return count

In [4]:
def bigdirectors(director):
    dir_list = [i[0] for i in prolific]
    count = 0
    if director in dir_list:
        count+=1
    return count

In [5]:
def convert_ytdate(dstring):
    try:
        if dstring.find('days') > -1:
            return round(int(dstring.split(' ')[0]))
        elif dstring.find('months') > -1:
            d = int(dstring.split(' ')[0])
            return round(int(d*4.333*7))
        elif dstring.find('weeks') > -1:
            d = int(dstring.split(' ')[0])
            return round(int(d*7))
        elif dstring.find('years') > -1:
            d = int(dstring.split(' ')[0])
            return round(int(d*52*7))
        else: return np.nan
    except:
        return np.nan

In [6]:
def append_crew(cast):
    for i in cast:
        try: castlist[i] += 1
        except: castlist[i] = 1

In [7]:
def append_dir(director):
    try: dirlist[director]+=1
    except: dirlist[director] = 1

In [8]:
def rating_clean(rating):
    try:
        
        if rating[0] in ('n', 'M/PG', 'Open'):
            return np.nan
        else:
            return rating[0]
    except:
        return np.nan

In [9]:
def split_rating(rating):
    try:
        return int(rating.split('%')[0])
    except:
        return np.nan

In [10]:
def ytviews(views):
    try:
        return int(views.split(' ')[0].replace(',',''))
    except:
        return np.nan

In [11]:
def internationalcount(x):
    try: return len(x)
    except: return np.nan

In [12]:
import pandas as pd
import numpy as np
with open('movies.json') as f:
    df = pd.read_json(f)

cleaned = df.drop(['runtime','prodCountries','prodCompanies','keywords','comps','domesticReleases'], axis = 1)


cleaned['critics'] = cleaned['critics'].apply(lambda x: split_rating(x))
cleaned['audience'] = cleaned['audience'].apply(lambda x: split_rating(x))
cleaned['creative'] = cleaned['creative'].apply(lambda x: trypull(x))
cleaned['firstviews'] = cleaned['firstviews'].apply(lambda x: ytviews(x))
cleaned['firstdate'] = cleaned['firstdate'].apply(lambda x: convert_ytdate(x))
cleaned['genre'] = cleaned['genre'].apply(lambda x: trypull(x))
cleaned['budget'] = cleaned['budget'].apply(lambda x: int(x.replace(',','').replace('$','')))
cleaned['source'] = cleaned['source'].apply(lambda x: trypull(x))


cleaned['director'] = cleaned['crew'].apply(lambda x: extract(x, 'Director'))
cleaned['producer'] = cleaned['crew'].apply(lambda x: extract(x, 'Producer'))
cleaned['execprod'] = cleaned['crew'].apply(lambda x: extract(x,'Executive Producer'))
cleaned['scrwriter'] = cleaned['crew'].apply(lambda x: extract(x, 'Screenwriter'))

cleaned['released']  = pd.to_datetime(cleaned['released'], format='%m/%d/%Y')
cleaned = cleaned[(cleaned['released'].dt.year >= 2010)]
cleaned['released'] = cleaned['released'].dt.quarter
cleaned['cast'] = cleaned['cast'].apply(lambda x: x.values())
cleaned['rating'] = cleaned['mpaaRating'].apply(lambda x: trypull(x))
cleaned['domestic'] = cleaned['domestic'].apply(lambda x: int(x.replace('$','').replace(',','')))
cleaned['worldwide'] = cleaned['worldwide'].apply(lambda x: int(x.replace('$','').replace(',','')))
cleaned['results'] = cleaned['results'].apply(lambda x: int(x.replace(',','')))
cleaned['franchise'] = cleaned['franchise'].apply(lambda x: internationalcount(x))
cleaned['mpaaRating'] = cleaned['mpaaRating'].apply(lambda x: rating_clean(x))
cleaned['internationalReleases'] = cleaned['internationalReleases'].apply(lambda x: internationalcount(x))

In [13]:
gendummies = pd.get_dummies(cleaned['genre'], drop_first=True)
ratdummies = pd.get_dummies(cleaned['mpaaRating'],drop_first=True)
creatdummies = pd.get_dummies(cleaned['creative'], drop_first=True)
datdummies = pd.get_dummies(cleaned['released'], drop_first = True)
print type(gendummies), type(ratdummies), type(creatdummies),type(cleaned)
cleaned = pd.concat([cleaned, gendummies, ratdummies, creatdummies, datdummies], axis = 1)

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [14]:
castlist = {}
castbymov = []
cleaned['cast'].apply(lambda x: append_crew(x));
for k,v in castlist.iteritems():
    tupe = (k,v)
    castbymov.append(tupe)
prolific = sorted(castbymov, key=lambda tup: tup[1], reverse=True)[:100]
cleaned['cast'] = cleaned['cast'].apply(lambda x:bigactors(x))

In [15]:
dirlist = {}
dirbymov = []
cleaned['director'].apply(lambda x: append_dir(x))
for k,v in dirlist.iteritems():
    tupe = (k,v)
    dirbymov.append(tupe)
prolific = sorted(dirbymov, key = lambda tup: tup[1], reverse = True)[:50]
cleaned['director'] = cleaned['director'].apply(lambda x:bigdirectors(x))

In [16]:
dirlist = {}
execbymov = []
cleaned['execprod'].apply(lambda x: append_dir(x))
for k,v in dirlist.iteritems():
    tupe = (k,v)
    execbymov.append(tupe)
prolific = sorted(execbymov, key = lambda tup: tup[1], reverse = True)[:25]
cleaned['execprod'] = cleaned['execprod'].apply(lambda x:bigdirectors(x))

In [17]:
dirlist = {}
producer = []
cleaned['producer'].apply(lambda x: append_dir(x))
for k,v in dirlist.iteritems():
    tupe = (k,v)
    producer.append(tupe)
prolific = sorted(producer, key = lambda tup: tup[1], reverse = True)[:25]
cleaned['producer'] = cleaned['producer'].apply(lambda x:bigdirectors(x))

In [18]:
dirlist = {}
screen = []
cleaned['scrwriter'].apply(lambda x: append_dir(x))
for k,v in dirlist.iteritems():
    tupe = (k,v)
    producer.append(tupe)
prolific = sorted(producer, key = lambda tup: tup[1], reverse = True)[:25]
cleaned['scrwriter'] = cleaned['scrwriter'].apply(lambda x:bigdirectors(x))

In [19]:
cleaned['origscreen'] = cleaned['source'].apply(lambda x: int(x=='Original Screenplay'))
to_model = cleaned.drop(['crew','source','mpaaRating','production','released','rank','genre','critics','audience','Multiple Creative Types','title','franchise','Concert/Performance','creative','rating','crew','internationalReleases'], axis = 1)

In [33]:
to_model = to_model.fillna(to_model.mean())

In [34]:
cleaned[cleaned['genre'] == 'Adventure'][['title','cast','budget','worldwide']].sort_values('worldwide', ascending = False)

,title,cast,budget,worldwide
11,Star Wars Ep. VII: The Force Awakens,4,306000000,2058662225
4971,Harry Potter and the Deathly Hallows: Part II,4,125000000,1341511219
5062,Frozen,2,150000000,1274234980
5142,Toy Story 3,0,200000000,1069818229
5156,Pirates of the Caribbean: On Stranger Tides,1,250000000,1045663875
5061,Zootopia,4,150000000,1021768248
0,The Hobbit: An Unexpected Journey,1,250000000,1017003568
5143,Finding Dory,4,200000000,985205113
5158,The Hobbit: The Desolation of Smaug,1,250000000,960366855
4967,Harry Potter and the Deathly Hallows: Part I,3,125000000,960283305
5157,The Hobbit: The Battle of the Five Armies,1,250000000,955119788
4849,Ice Age: Continental Drift,0,95000000,879765137
4989,The Hunger Games: Catching Fire,6,130000000,864868047
5105,Inside Out,1,175000000,853923085
4655,The Secret Life of Pets,1,75000000,833731360
5094,Guardians of the Galaxy,3,170000000,771172112
5114,Maleficent,0,180000000,758536735
13,The Amazing Spider-Man,2,220000000,757890267
5084,Shrek Forever After,0,165000000,756244673
5027,Madagascar 3: Europe's Most Wanted,2,145000000,746921271
5138,Monsters University,3,200000000,743588329
5091,Dawn of the Planet of the Apes,2,170000000,703545589
5080,Interstellar,5,165000000,665417894
5046,Kung Fu Panda 2,2,150000000,664837547
5151,Men in Black 3,2,215000000,654213485
5083,Big Hero 6,2,165000000,652127828
5053,Thor: The Dark World,3,150000000,644602516
5093,Iron Man 2,2,170000000,623561331
5025,How to Train Your Dragon 2,4,145000000,616102924
5,Tangled,0,260000000,586581936
...,...,...,...,...
2811,The Oogieloves in the BIG Balloon Adventure,0,20000000,1065907
900,The Lost Medallion: The Adventures of Billy Stone,0,2500000,549632
1145,A Lonely Place to Die,0,4000000,442550
3615,The Young and Prodigious T.S. Spivet,0,33000000,357687
1875,Jungle Shuffle,0,10000000,314073
3417,Savva. Serdtse voyna,0,30000000,172242
3824,Dragon Nest Warriors' Dawn,0,40000000,155403
1900,Kicks,0,10000000,150191
3416,Space Pirate Captain Harlock,0,30000000,143490
1237,Falcon Rising,0,4500000,11774
3639,The Lovers,0,35000000,11106
1301,Yoga Hosers,1,5000000,2199
1297,Henry & Me,0,5000000,0
648,The Lion of Judah,0,1500000,0
957,Iguana,0,3000000,0
757,Lucky Dog,0,2000000,0
716,Against the Wild,0,1800000,0
96,Lunchtime Heroes,0,100000,0
5109,Valerian and the City of a Thousand Planets,0,180000000,0
1581,Alpha & Omega: The Legend of the Saw Tooth Cave,0,7000000,0
4942,Trolls,1,120000000,0
3132,The Adventurer: The Curse of the Midas Box,0,25000000,0
2116,Supesu Batorushippu Yamato,0,12000000,0
251,Rotor DR1,0,350000,0
4122,Hannibal the Conqueror,0,50000000,0
2787,The Thousand Miles,0,20000000,0
2790,Dwegons and Leprechauns,1,20000000,0
99,"Dude, Where's My Dog",0,100000,0
188,Horse Camp,0,250000,0
294,The Little Ponderosa Zoo,0,500000,0

#### need to figure out how to handle producer, screenwriter, director, executiveproducer, & firstdate

In [22]:
import pandas as pd
import numpy as np
import math
from sklearn import cross_validation, linear_model, grid_search
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


def scatter_matrix(X):
    feature_count = len(X.columns)
    fig,ax = plt.subplots(ncols=feature_count,nrows=feature_count,figsize=(10*feature_count, 10*feature_count))

    for i,feature_i in enumerate(X):
        for j,feature_j in enumerate(X):
            ax[i][j].scatter(X[feature_i],X[feature_j])
            ax[i][j].set_xlabel('Feature ' + str(feature_i))
            ax[i][j].set_ylabel('Feature ' + str(feature_j))

/Users/R1/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [28]:
X,y = to_model.drop(['domestic','worldwide'], axis=1),to_model['worldwide']

X_train,X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size = 0.3)

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import re
from sklearn import cross_validation, datasets, linear_model, grid_search, tree, preprocessing
from sklearn.tree import export_graphviz, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier,  RandomForestRegressor,  ExtraTreesClassifier
from sklearn.cross_validation import KFold

%matplotlib inline

In [30]:
kf = KFold(len(X_train), n_folds=20, shuffle=True, random_state=0)

In [31]:
lasso = linear_model.Lasso()

parameters = {'normalize':(True,False),
              'alpha':np.logspace(-1,30,50)}
grid_searcher = grid_search.GridSearchCV(lasso, parameters, cv=kf)

X_train,X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size = 0.3)

grid_searcher.fit(X_train, y_train)


model = grid_searcher.best_estimator_
print(grid_searcher.best_params_)
print 'coefficients', model.coef_
print 'score', grid_searcher.score(X_test, y_test)
zip(X_train.columns, model.coef_)

{'normalize': True, 'alpha': 910298.17799152271}
coefficients [ 2.10466276  0.          0.          4.13712609 -0.         -0.         -0.
 -0.         -0.          0.         -0.          0.         -0.         -0.
 -0.          0.         -0.         -0.         -0.         -0.         -0.
  0.          0.         -0.         -0.         -0.          0.         -0.
  0.          0.          0.          0.          0.         -0.         -0.        ]
score 0.626792835795

[(u'budget', 2.1046627608940294),
 (u'cast', 0.0),
 (u'firstdate', 0.0),
 (u'firstviews', 4.137126090371015),
 (u'results', -0.0),
 ('director', -0.0),
 ('producer', -0.0),
 ('execprod', -0.0),
 ('scrwriter', -0.0),
 (u'Adventure', 0.0),
 (u'Black Comedy', -0.0),
 (u'Comedy', 0.0),
 (u'Documentary', -0.0),
 (u'Drama', -0.0),
 (u'Horror', -0.0),
 (u'Musical', 0.0),
 (u'Romantic Comedy', -0.0),
 (u'Thriller/Suspense', -0.0),
 (u'Western', -0.0),
 (u'NC-17', -0.0),
 (u'Not Rated', -0.0),
 (u'PG', 0.0),
 (u'PG-13', 0.0),
 (u'R', -0.0),
 (u'Dramatization', -0.0),
 (u'Factual', -0.0),
 (u'Fantasy', 0.0),
 (u'Historical Fiction', -0.0),
 (u'Kids Fiction', 0.0),
 (u'Science Fiction', 0.0),
 (u'Super Hero', 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, -0.0),
 ('origscreen', -0.0)]

In [32]:
enet = linear_model.ElasticNet()

parameters = {'normalize':(True,False),
              'alpha':np.logspace(-2,30,50)}
grid_searcher = grid_search.GridSearchCV(enet, parameters, cv=kf)

grid_searcher.fit(X_train, y_train)

model = grid_searcher.best_estimator_
print(grid_searcher.best_params_)
print 'coefficients', zip(X.columns,model.coef_)
print 'score', grid_searcher.score(X_test, y_test)

{'normalize': False, 'alpha': 0.9102981779915218}
coefficients [(u'budget', 2.4408967194379616), (u'cast', 8987308.6411378961), (u'firstdate', 8715.4441567535778), (u'firstviews', 7.2155503278623785), (u'results', -0.74177606941962959), ('director', -2506090.4153155726), ('producer', 2610545.8156832545), ('execprod', -486684.64220547344), ('scrwriter', -886889.60543119826), (u'Adventure', 5194839.5626153955), (u'Black Comedy', -305658.09798885504), (u'Comedy', 1180091.8622444635), (u'Documentary', 948294.28894121514), (u'Drama', -1756473.9703299778), (u'Horror', 1608579.3946485831), (u'Musical', 379688.165294362), (u'Romantic Comedy', -600733.67694232729), (u'Thriller/Suspense', -1328454.8125531969), (u'Western', -1392328.1956159209), (u'NC-17', 66793.053956985343), (u'Not Rated', 1763418.9640036258), (u'PG', 4085907.484854572), (u'PG-13', -193774.18336580537), (u'R', -3353306.2281255135), (u'Dramatization', -1343170.432390841), (u'Factual', 1480213.4469683906), (u'Fantasy', 1649953.5477249874), (u'Historical Fiction', -3529552.77910345), (u'Kids Fiction', 4486831.1052648686), (u'Science Fiction', -165842.52014330906), (u'Super Hero', 1788028.8333290191), (2, 3274699.0605978067), (3, 269813.74084271502), (4, 862618.95455615048), ('origscreen', 977866.88481548335)]
score 0.689157010157

In [ ]:
from sklearn.ensemble import RandomForestRegressor
import random
wrand = to_model.copy()
rng = [x for x in range(1, 6)]

for i in rng:
    col_name = 'RAND_' + str(i)
    wrand[col_name] = 1
    wrand[col_name] = wrand[col_name].map(lambda x: x * random.randint(0, 100))
    
wrand.columns
X,y = wrand.drop(['domestic','execprod','producer','worldwide'], axis=1),wrand['worldwide']

X_train,X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size = 0.3)

In [ ]:
rf =RandomForestRegressor(n_estimators = 150, max_features = 8 )
rf.fit(X_train,y_train)
print(sum(rf.feature_importances_))
a  = X.columns.values

In [ ]:
sorted_features = zip(X.columns, rf.feature_importances_)
sorted_features.sort(key=lambda x: x[1], reverse=True)
for feature in sorted_features:
    print(feature)

In [ ]:
rf.score(X_test,y_test)

In [ ]:
import statsmodels.api as sm

In [ ]:
X,y = noouts.drop(['worldwide','domestic','Black Comedy','Not Rated','Factual','Fantasy','Science Fiction',3], axis=1),noouts['worldwide']



X_train,X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size = 0.3)

X_train = sm.add_constant(X_train)

In [ ]:
model = sm.OLS(y_train, X_train)
results = model.fit()

In [ ]:
results.params

In [ ]:
results.summary()

In [ ]:
import seaborn as sns

In [ ]:
sns.jointplot(x='firstviews', y='worldwide', data=noouts, kind = 'reg')

In [ ]:
sns.jointplot(x='firstviews', y='domestic', data=noouts, kind = 'reg');

In [ ]:
np.corrcoef(to_model['execprod'],to_model['producer'])